<!--Navbar-->
<div id="product-background" style="background:
linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
background-color: #131313;
background-size: 20px 20px;">
    <!--Navbar-->

    {{#if hbsObj.user}}

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="/"><img src="/assets/images/Icon.jpeg"><span>Agora</span></a>
        <a class="navbar-brand page-headers"><span>Welcome: </span><span>{{user.username}}</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>



        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item"><a class="nav-link" id="findProduct" href="/products">Search Products</a>
                </li>
                <li class="nav-item"><a class="nav-link" id="findSeller" href="/searchSeller">Find Seller</a>
                </li>

                <li class="nav-item"><a class="nav-link" id="logOut" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    {{else}}

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="/"><img src="/assets/images/Icon.jpeg"><span>Agora</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item"><a class="nav-link" id="findProduct" href="/products">Search Products</a>
                </li>
                <li class="nav-item"><a class="nav-link" id="findSeller" href="/searchSeller">Find Seller</a>
                </li>
                <li class="nav-item"><a class="nav-link" id="signUp" href="/signup">Sign Up</a>
                </li>
                <li class="nav-item"><a class="nav-link" id="logIn" href="/login">Login</a>
                </li>
            </ul>
        </div>
    </nav>

    {{/if}}
    <br><br><br><br>

    <div id="products" class="offset">

        <div class="col-12 jumbotron">
            <div class="col-12 text-center">
                <h2 class="page-headers">Product Details</h2>
            </div>

            <div id="trackseller" class="product-card" data-sellerid={{hbsObj.products.LoginId}}>
                <img src="{{hbsObj.products.picture}}" class="card-img-top thumbnail" alt="...">
                <div class="product-card card-body">
                    <h5 class="card-title">{{hbsObj.products.name}}</h5>
                    <div class="productPrice">
                        <p>Price: ${{hbsObj.products.price}}</p>
                    </div>
                    <p class="card-text">{{hbsObj.products.description}}</p>
                    <button id="dropEmail" class="btn btn-primary m-0">Send message to seller</button>
                </div>
            </div>

        </div>
    </div>

</div>

{{!-- Modal to send email --}}
<div id="emailmodal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalname">Drop message to </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-row">
                        <label class="field-headers" for="inputUserEmail">Your email</label>
                        <input type="email" class="form-control" id="inputUserEmail" placeholder="Email">
                    </div>
                    <div class="form-row">
                        <label class="field-headers" for="inputMessage">Message</label>
                        <textarea rows="5" form="usrform" class="form-control" id="inputMessage"
                            placeholder="Your message goes here"></textarea>
                    </div>
                    <div class="form-row">
                        <button type="submit" id="sendemail" class="btn btn-info">Send</button>
                    </div>
                    <div style="display: none" id="alert" class="alert alert-danger" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span> <span class="msg"></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<!-- bootstrap js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

<script type="text/javascript" src="/js/productDetails.js"></script>