<!--Navbar-->
<div id="product-background" style="background:
linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
background-color: #131313;
background-size: 20px 20px;">
  <!--Navbar-->

  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/"><img src="/assets/images/Icon.jpeg"><span>Agora</span></a>
    <a class="navbar-brand page-headers"><span style="color: darkturquoise">Welcome: </span><span
        style="color: darkturquoise">{{sellerObj.sellername}}</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
      <span class="navbar-toggler-icon"></span>
    </button>



    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link"
            href="/profile/{{sellerObj.sellerid}}/{{sellerObj.sellername}}">Home</a>
        </li>
        <li class="nav-item"><a class="nav-link" id="findProduct" href="/products">Search Products</a>
        </li>
        <li class="nav-item"><a class="nav-link" id="findSeller" href="/searchSeller">Find Seller</a>
        </li>

        <li class="nav-item"><a class="nav-link" id="logOut" href="/logout">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  <br><br><br><br>

  <!--Info Card-->
  <div class="card mx-5 product-card" style="">
    <div class="card-body product-card">
      <h5 class="card-title" id="sellername" data-sellerid={{sellerObj.sellerid}}
        data-selleremail={{sellerObj.sellername}}></h5>
      <div class="card-text">
        <div class="row">
          <div class="col-md-6">
            <p id="sellerPh">Phone: </p>
            <p id="sellerEmail">Email: </p>
          </div>
          <div class="col-md-6">
            <p id="sellerLoc">Location: </p>
            <button id="editInfo" class="btn btn-info m-0">Update</button>
          </div>
        </div>
      </div>
    </div>
  </div><br>


  <div id="review-div" class="m-5">
    <div class="row">
      <div class="col-10">
        <h2 style="color:darkturquoise">Reviews</h2>
      </div>
    </div>
    <hr>

  </div>

  <!--Add New Product-->
  <div class="jumbotron" id="product-management">
    <h1 class="display-4" style="color: darkturquoise">Product Management</h1>
    <p class="lead" style="color: darkturquoise">Add a new product.</p>
    <hr class="my-4">

    <form>
      <div class="row">
        <div class="form-group col-md-6">
          <label style="color: darkturquoise" for="prodName">Product Name</label>
          <input type="text" class="form-control" style="width: 80%" id="prodName" placeholder="Product Name">
        </div>
        <div class="form-group col-md-6">
          <label style="color: darkturquoise" for="prodDesc">Description</label>
          <input type="text" class="form-control" style="width: 80%" id="prodDesc" placeholder="Brief Description">
        </div>
      </div>

      <div class="form-row">

        <div class="form-group col-md-4">
          <label for="inputCategory" style="color: darkturquoise">Category</label>
          <select id="prodCategory" class="form-control">
            <option selected>Choose...</option>
            <option>Books</option>
            <option>Electronics</option>
            <option>Food</option>
            <option>Supplies</option>
          </select>
        </div>
        <div class="form-group">
          <label for="inputPrice" style="color: darkturquoise" for="prodPrice">Price</label>
          <input type="text" class="form-control" id="prodPrice" placeholder="$0.00">
        </div>

        <div class="form-group" style="margin-left: 1%">
          <label for="exampleFormControlFile1" style="color: darkturquoise">Product Image</label>
          <input type="text" class="form-control" id="prodImg" placeholder="Image url">
        </div>
      </div>
      <button id="postProd" class="btn btn-info">Add</button>
    </form>
  </div>

  <!-- list of seller's products -->
  <div id="products" class="offset">

    <div class="col-12 jumbotron">
      <div class="col-12 text-center">
        <h2 class="page-headers">Products</h2>
      </div>
      <div id="prodList">

      </div>

    </div>
  </div>

</div>

{{!-- Modal to edit user info --}}
<div id="infoEditModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalname">My Information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-row">
            <label class="field-headers" for="inputMyName">Name</label>
            <input type="text" class="form-control" id="inputMyName" placeholder="Name">
          </div>
          <div class="form-row">
            <label class="field-headers" for="inputMyPh">Phone</label>
            <input type="text" class="form-control" id="inputMyPh" placeholder="888-888-8888">
          </div>
          <div class="form-row">
            <label class="field-headers" for="inputMyLoc">Location</label>
            <input type="text" class="form-control" id="inputMyLoc" placeholder="location">
          </div>
          <div class="form-row">
            <button type="submit" id="updateInfo" class="btn btn-primary">Save</button>
          </div>
          <div style="display: none" id="alert" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span> <span class="msg"></span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{{!-- Modal to edit product info --}}
<div id="prodEditModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalname">Product Update</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-row">
            <label class="field-headers" for="inputProdName">Name</label>
            <input type="text" class="form-control" id="inputProdName" placeholder="Product name">
          </div>
          <div class="form-row">
            <label class="field-headers" for="inputProdPrice">Price</label>
            <input type="text" class="form-control" id="inputProdPrice" placeholder="$0.00">
          </div>
          <div class="form-row">
            <label class="field-headers" for="inputProdDesc">Description</label>
            <textarea rows="5" form="usrform" class="form-control" id="inputProdDesc"
              placeholder="Description"></textarea>
          </div>
          <div class="form-row">
            <button type="submit" id="updateProd" class="btn btn-primary">Save</button>
          </div>
          <div style="display: none" id="alert" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span> <span class="msg"></span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<!-- bootstrap js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script type="text/javascript" src="/js/profile.js"></script>