<!--Navbar-->
{{#if hbsObj.user}}

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="/"><img src="./assets/images/Icon.jpeg"><span>Agora</span></a>
  <a class="navbar-brand page-headers"><span>Welcome: </span><span>{{hbsObj.user.username}}</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
    <span class="navbar-toggler-icon"></span>
  </button>



  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item"><a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item"><a class="nav-link">Search Products</a>
      </li>
      <li class="nav-item"><a class="nav-link" id="findSeller" href="/searchSeller">Find Seller</a>
      </li>

      <li class="nav-item"><a class="nav-link" id="logOut" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>

{{else}}

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="/"><img src="./assets/images/Icon.jpeg"><span>Agora</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item"><a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item"><a class="nav-link">Search Products</a>
      </li>
      <li class="nav-item"><a class="nav-link" id="findSeller" href="/searchSeller">Find Seller</a>
      </li>
      <li class="nav-item"><a class="nav-link" id="signUp" href="/signup">Sign Up</a>
      </li>
      <li class="nav-item"><a class="nav-link" id="logIn" href="/login">Login</a>
      </li>
    </ul>
  </div>
</nav>

{{/if}}
<br><br><br><br>

<div class="container">
  <div class="row">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <button class="btn btn-outline-secondary dropdown-toggle m-0" type="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Dropdown</button>
        <div class="dropdown-menu">
          {{#each hbsObj.sellers}}
          <a class="dropdown-item sellers" id="{{id}}" href="/sellercover/{{id}}">{{name}}</a>
          {{/each}}
        </div>
      </div>
      <input type="text" class="form-control" id="sellerSearch">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary m-0" id="sellerSubmit" type="button">Search!</button>
      </div>
    </div>
  </div>
</div>


<!--Javascript-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="js/searchSeller.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>