<div class="product-card">
    <a href="/api/products/{{id}}">
        <img src="{{picture}}" class="card-img-top thumbnail" alt="..."></a>
    <div class="product-card card-body">
        <h5 class="card-title">{{name}}</h5>
        <div class="productPrice">
            <p>Price: ${{price}}</p>
        </div>
        <p class="card-text">{{description}}</p>
        <a href="/sellercover/{{id}}" class="btn btn-primary">Contact Seller</a>
    </div>
</div>